@charset "UTF-8";
/* CSS Document */

#db_querybrowse_left {
	min-height: 252px;
	min-width: 250px;
	float: left;
	/*background-color: #D7E8D5;*/
}

#db_querybrowse2_left {
	min-height: 252px;
	min-width: 250px;
	float: left;
	margin-top:50px;
	/*background-color: #D7E8D5;*/
}

#db_browsequery_left {
	min-height: 252px;
	min-width: 250px;
	float: left;
	/*background-color:#F3ECCA;*/
}



#db_organstats_right {
	background-color: #D0DFE5;
	width: 340px;
	min-height: 252px;
	float: right;
	font-size: 90%;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	margin-right:7px;
}

.db_cellborder_topleft {
	border-top-color: #6FAEC4;
	border-top-style: solid;
	border-left-color: #6FAEC4;
	border-left-style: solid;
	
}

.db_cellborder_top {
	border-top-color: #6FAEC4;
	border-top-style: solid;
}

.db_cellborder_left {
	border-left-color: #6FAEC4;
	border-left-style: solid;
}

.db_cell_object_padding {
	padding:0 8px;	
}

#db_organsystem {
}

#db_updates {
	border-top: 1px solid #347982;
	border-bottom: 1px solid #347982;
}

#db_homestats {
	
}

#db_homestats a {
	color:#c2d5dc;
	text-decoration: none;
}

#db_homestats a:visited {
	color:#c2d5dc;	
}
#db_homestats a:hover, #db_homestats a:active, #db_homestats a:focus { 
	text-decoration: underline;
	color:#6ABCE6;
}

.db_organimage {
	border-radius: 8px;	
}

.db_order-table{   
	border-collapse:collapse;
}

.db_order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
	vertical-align:top;
}

.db_order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.db_order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

.db_tooltip{
	margin:8px;
	padding:8px;
	border:1px solid blue;
	background-color:yellow;
	position: absolute;
	z-index: 2;
}

.db_pagenum {
		padding:0 5px;
		background-color:#EBEBEB;
		margin-right:2px;
}
 .db_navborder {
 	border:1px solid #c2d5dc;
 }
 
 .db_focusborder {
 	border:3px solid red;
 }
 
  .db_nofocusborder {
 	border:1px solid green;
 }
 
 .db_outer_detail_left {
 	 background-color:#476885;
	 color:#FFFFFF;
	 vertical-align:top;
	 text-align:left;
 	 width:20%;
 	 font-weight:bold;
 	 padding: 5px 5px 5px 10px;
 }
 
  .db_outer_detail_right {
 	background-color: #c2d5dc;
 	color:#476885;
 	vertical-align:top;
 	text-align:left;
 	padding: 5px 5px 5px 10px;
 }
 
  .db_inner_detail_left {
 	font-weight:bold;
/*  	font-size:110%; */
 	text-align:left;
 	width:200px;
 	vertical-align:top;
 }
 
 .db_inner_image_detail_left {
 	text-align:left;
 	width:192px;
 	vertical-align:top;  
 }
 
  .db_inner_detail_right {
 	text-align:left;
 	font-weight:normal;
 	vertical-align:top;
 }
 
 .db_inner_inner_title {
 	color:darkred;
 }
 
 .db_expression_detail_left {
 	text-align:left;
 	width:30px;
 	background-color:#EBEBEB;
 }
 
 
 .db_expression_detail_right {
 	text-align:left;
 	font-weight:normal;
 	background-color:#EBEBEB;
 	color:darkblue;
 	width:100%;
 }

 .db_bold {
   font-weight:bold;
 }
 
 .db_30_width {
 	min-width:30px;
 }
 
 .db_panel_grid_width {
 	width:95%;
 	margin-bottom:15px;
 }
 
 .db_icon {
 	padding:10px;
 }
 
 .db_column_title {
 	font-size:110%;
 }
 
 .db_table_header {
   color:#FFFFFF;
   background-color:#476885;
 }
 
 .db_table_text {
 }
 
 .db_sequence {
 	font-family: Courier;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #22316C;
	text-decoration: none;
 }
 
 .db_expression_icon {
 	padding:2px 5px 0 0;
 }
 
 .db_thumb_height {
 	max-height:50px;
 }
 
 /***************************** ISH expression bars *******************************/
div.exprGraph {
	border:0px solid #E3E3E3;
	width:110px;
	margin:auto;
	padding:2px 0;
}

table.exprGraphTable {
	border:0px solid #C3C3C3;
	border-collapse:collapse;
	margin:0px;
	padding:0px;
	width:100%;
}

td.exprGraphCell {
	height:22px;
	margin:0px;
	padding:0px;
	vertical-align:bottom;
}

div.exprGraphBarSpacer {
	background-color:#C3DBC3;
	border:1px dotted #969696;
	font-size:0pt;
	margin:0px;
	padding:0px;
	width:8px;
	visibility:hidden;
}

div.exprGraphBar {
	border:1px solid #969696;
	cursor:pointer;
	font-size:0pt;
	margin:0px;
	padding:0px;
	width:8px;
}

div.zeroExprGraphBar {
	border-bottom:1px solid black;
	font-size:0pt;
	margin:0 0 -1px 0;
	padding:0px;
	width:8px;
	height:0px;
}

div:hover.exprGraphBar {
	border:1px solid #000000;
}
