@charset "UTF-8";
/* CSS Document */

#db_querybrowse_left {
	min-height: 252px;
	min-width: 250px;
	float: left;
	/*background-color: #D7E8D5;*/
}

#db_querybrowse2_left {
	min-height: 252px;
	min-width: 250px;
	float: left;
	margin-top:50px;
	/*background-color: #D7E8D5;*/
}

#db_browsequery_left {
	min-height: 252px;
	min-width: 250px;
	float: left;
	/*background-color:#F3ECCA;*/
}



#db_organstats_right {
	background-color: #D0DFE5;
	width: 340px;
	min-height: 252px;
	float: right;
	font-size: 90%;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	margin-right:7px;
}

.db_cellborder_topleft {
	border-top-color: #6FAEC4;
	border-top-style: solid;
	border-left-color: #6FAEC4;
	border-left-style: solid;
	
}

.db_cellborder_top {
	border-top-color: #6FAEC4;
	border-top-style: solid;
}

.db_cellborder_left {
	border-left-color: #6FAEC4;
	border-left-style: solid;
}

.db_cell_object_padding {
	padding:0 8px;	
}

#db_organsystem {
}

#db_updates {
	border-top: 1px solid #347982;
	border-bottom: 1px solid #347982;
}

#db_homestats {
	
}

#db_homestats a {
	color:#c2d5dc;
	text-decoration: none;
}

#db_homestats a:visited {
	color:#c2d5dc;	
}
#db_homestats a:hover, #db_homestats a:active, #db_homestats a:focus { 
	text-decoration: underline;
	color:#6ABCE6;
}

.db_organimage {
	border-radius: 8px;	
}

.db_order-table{   
	border-collapse:collapse;
}

.db_order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.db_order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.db_order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

.db_tooltip{
	margin:8px;
	padding:8px;
	border:1px solid blue;
	background-color:yellow;
	position: absolute;
	z-index: 2;
}

.db_pagenum {
		padding:0 5px;
		background-color:#EBEBEB;
		margin-right:2px;
}
 .db_navborder {
 	border:1px solid #c2d5dc;
 }
