@CHARSET "UTF-8";

a {color:#EBEBEB;}

h1 {
	color:red;
}

.cke_show_borders h1 {
	color:blue;
}

.CSS1Compat body {
	color:orange;
}

.cke_show_borders a {
	color:red;
}

.CSS1Compat a {
	color:orange;
}

.CSS1Compat body h1 {
	color:green;
}

.cke_skin_kama .cke_95 iframe h1{
   color:green !important;
}

.pEdit {
	color:green;
}

#cke_contents_editorForm:theEditor a {
	color:red;
}

.cke_contents a {color:red;}

