@charset "UTF-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #4E5869;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#0797F5;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color:#0797F5;
	text-decoration: none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: underline;
	color:#6ABCE6;
}

/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
/* header, section, footer, aside, article, figure {
	display: block;
} */

button, input, optgroup, select, textarea {
    margin: 5px;
    padding: 2px;
}

input[type="text"], textarea {

  background-color:#D0DFE5; 
  border-radius: 5px;
  border: 2px solid lightblue;
  color:#436482;

}

input[type="submit"] {
    margin: 0;
    padding: 3px;
}

img {
	max-width:100%;
	height:auto;
}

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}


/* Mobile Layout: 480px and below. */

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
 .gd_container {
	width: 100%;
	max-width: 1260px; /*a  max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 780px; /* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
	background-color: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
} 

/* .gd_container {
	margin: 0 auto;
	width: 100%;
	background-color: #FFF;
	
} */
/* ~~the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo~~ */
.gd_header {
	background-color: #c2d5dc;
}

#gd_logo {
	/* width:334px; */
	float:left;
}

#gd_stripe_strip {
	width:100%;
	min-height:56px;
	background:url(/gudmap/resources/images/header/stripe.png) left repeat-x;
}

.gd_webfont_header {
	font-family:  droid-sans, molengo,  "Futura Condensed Medium", "Century Gothic", sans-serif;
	font-style: normal;
	font-stretch:expanded;
	font-weight: 400;
}

.gd_webfont_title {
	font-size:30px;
}

.gd_input_large {
	width:250px;
	padding:10px 10px;
	line-height:30px;
	background-color:white !important;
	font-size: 20px;
	background:url(/gudmap/resources/images/header/mag_glass.png) right no-repeat;
	background-size:20px 20px;
}

.gd_input_large_empty {
	width:250px;
	padding:10px 10px;
	line-height:30px;
	background-color:white !important;
	font-size: 20px;
}

/* .gd_input_large::after {
	content: "";
  background:url(/gudmap/resources/images/header/mag_glass.png) right no-repeat;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
} */

#gd_login {
	width:200px;
	float:left;
	color:#D0DFE5;
	padding-top:6px;
	padding-left:30px;
	font-size:15px;
}

#gd_login_icon {
	
}

#gd_feedback {
	width:150px;
	float:right;
	color:#436482;
	font-size:15px;
}

#gd_feedback_icon {
	
}

#gd_quicksearch {
	color:#D0DFE5; 
	padding-top:4px;
	font-size:15px;
	float:right;
}

#gd_logotext {
	margin-left: 20px;
	float:left;
	width:300px;
	font-size:20px;
	color: #436482;
	
}

#gd_bigmenu {
	/* width:400px; */
	width:200px;
	margin-left:350px;
	background-color:#c2d5dc;
}
/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.gd_content {
	padding: 10px 0;
	color:#6C6C6C;
	font-size:14px;
	line-height:20px;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.gd_content ul, .gd_content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

.gd_content h1, h2, h3 {
	color:#436482;
}

.gd_content h2 {
	background-color:#E3E3E3;
}

#gd_edit_area {
	/* use with solr flyin margin-left:35px; */
	margin-left:5px;	
	min-height:350px;
}

#editorForm:theEditor a {
	color:red;
}

/* ~~ The footer ~~ */
.gd_footer {
	padding: 10px 0;
	background-color: #c2d5dc;
	color:#6C6C6C;
	margin-top:7px;
}


.gd_footerimage {
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px #939393;
	box-shadow: 3px 3px #939393;
}

/* ~~ miscellaneous float/clear classes ~~ */
.gd_fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.gd_fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.gd_clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
	
}


#gd_disclaimer {
	text-align:center;
	font-style:italic;	
	font-size:80%;
}

.gd_list ul {
	margin-left:40px;
	
}

.gd_list ul li{
	list-style-image:url(../images/resources/gudmap_list.png);
	font-style:italic;
	color:#939393;
	padding-bottom:5px;
}

.gd_solrmenu {
	border: 1px solid #476885;
	/*min-width:250px;*/
	min-height: 300px;
	position: absolute;
	background-color:#476885;
	margin-top: 40px;
	border-top-right-radius: 8px;	/*-webkit-transition: all 1s ease-in 0s;
	-o-transition: all 1s ease-in 0s;
	transition: all 1s ease-in 0s;*/
	border-bottom-right-radius: 8px;
	z-index:99999;
}

.gd_solarmenuexpand {
	width:350px;
}
.gd_solarmenucollapse {
	
	width:30px;
}

.gd_expand_search {
	float:right;
	margin-top:30px;
	margin-right:3px;
	clear:both;
}

.gd_close_search {
	float:right;
	margin-right:5px;
	margin-top:5px;
	
}

.gd_solr_text {
	color:#ffffff;
}

.gd_solr_form {
	margin-left:7px;
}
.gd_solr_image {
	margin-left:10px;
}

.gd_solr_image {
	padding-bottom:10px;
}

#gd_dbstats {
	
	float: left;
	width: 40%;
	margin-left: 2%;
	margin-bottom: 2%;
	/* float: left;
	margin-right: 7px;
	width: 48%;
	margin-left: 15px;
	margin-bottom: 2%; */
	
	/*background-color: #D0DFE5;
	border-radius: 8px;
	-webkit-box-shadow: 3px 3px #D5D5D5;
	box-shadow: 3px 3px #D5D5D5;*/
}

#gd_slideshow_home {
	
	float: left;
	width:48%;
	margin-left:5%;
	/* float: left;
	width:48%;
	margin-right:2%; */
	
	/* width: 340px;
	width: 650px;	
	min-height: 250px;
	background-color: #D0DFE5;
	padding-top: 20px;
	border-radius: 8px;*/
	
}

.gd_table98center {
	width:98%;
	margin:0 auto 0 auto;
}

.gd_celltextcenter {
	text-align: center;
}

.gd_celltextleft {
	text-align:left;
	padding:0;
	margin:0;
	vertical-align:top;
}

.gd_cellcollapseleft {
	padding:0;
	margin:0;
	border-left-color: #6FAEC4;
	border-left-style: solid;
	vertical-align:top;
}

.gd_cellcollapsetop {
	padding-left:1px;
	padding-right:1px;
	margin:0;
	border-top-color: #6FAEC4;
	border-top-style: solid;
	width:100%;
}


.gd_celltextright {
	text-align: right;
}

.gd_celltextjustify {
	text-align: justify;
}

.gd_citing_gudmap {
	color: #6C6C6C;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(171,171,171,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(171,171,171,1.00) 100%);
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	border-radius: 5px;
	font-size: 12px;
	margin-left:10px;
}

.gd_citing_gudmap a {
	color: #6C6C6C;
	underline:none;
}

.gd_citing_gudmap a:visited {
	color: #6C6C6C;
}

.gd_citing_gudmap a:hover, .gd_citing_gudmap a:active {
	color:#347982;
}
.gd_gudmap_contacts {
	margin-left:20px;
}

.gd_leftAlign {
  text-align: left;
}

.gd_rightAlign {
  text-align: right;
}

.gd_leftMargin {
  margin-left:10px;
}

.pr_hyperlink {
	text-decoration: underline;
	color:#6ABCE6;
}

.gd_datatable_header {
	background-color: #E0E0E0;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

/* @media only screen and (min-width: 481px) {
	.gd_container {
		max-width: 768px;a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration.
	
	}
} */

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

/* @media only screen and (min-width: 769px) {
	
	.gd_container {
		max-width: 1260px;a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration.
	
	}
} */


