@CHARSET "UTF-8";
/*
#header {
	width:100%;
	font-size:36px;
	line-height:48px;
	background-color:lightblue;
	color:white;
}

#footer {
	 background-color:darkblue;
	 width:100%;
	 color:orange;"
}
*/