@charset "UTF-8";
/* CSS Document */
.dmxNavigationMenu {
  background-color:#c2d5dc;
}

.dmxNavigationMenu li a.selected, .dmxNavigationMenu li a:hover{
  background-color:transparent;
  color:#ffffff;
}

/* .dmxNavigationMenu li a.visited, .dmxNavigationMenu li a:visited
 {
	color:#436482;
} */


.menu li a {
	
	font-family: droid-sans, molengo, "Futura Condensed Medium", "Century Gothic", sans-serif;
	font-style: normal;
	font-size:20px;
	font-stretch:expanded;
	font-weight: 400;
	color: #436482;
	padding: 0 20px 0 0;
}

.mega li a {
	font-size:12px;
	padding-top:7px;
	padding-left:7px;
}



/* .mega li a.selected, .mega li a:hover {
  background-color:#355b7b;
  color:#ffffff;
} */
.mega li a:hover {
  background-color:#355b7b;
  color:#ffffff;
}

/* .mega li a.visited, .mega li a:visited
 {
	color:#436482;
	background-color:#ebebeb;
} */

/****************expression treee*******************/

  #exp_key_div a {
    font-size: 8pt;
    color: #7F7F81;
  }
  .expression_btn, .pattern_btn {
    pointer-events: none;
    cursor: default;
  }
/*the background of the tree */
  #demo2_view {
    cursor: default;
    background-color:#EBEBEB;
  }

  #demo2_view a {
    cursor: default;
  }
  
 
  
  /* the text of the tree */
   #demo2_view ul li a {
    font-size:14px;
    color:#355b7b;
    line-height:18px;
  }
 
 /* create space between icon and component text */ 
 #demo2_view ul li a ins {
    padding-right:3px;
  }
  
   .jstree-icon {
  	vertical-align:middle;
  	min-height:20px;
  }
   .jstree-icon1 {
  	vertical-align:middle;
  	min-height:20px;
  }
   .jstree-icon2 {
  	vertical-align:middle;
  	min-height:20px;
  }
   .jstree-icon3 {
  	vertical-align:middle;
  	min-height:20px;
  }
   .jstree-icon4 {
  	vertical-align:middle;
  	min-height:20px;
  }
   .jstree-icon5 {
  	vertical-align:middle;
  	min-height:20px;
  }
   .jstree-icon6 {
  	vertical-align:middle;
  	min-height:20px;
  }
  .jstree-icon7 {
  	vertical-align:middle;
  	min-height:20px;
  }
  

  
 /*  .jstree-leaf a ins {
  	padding-right:30px;
  } */
  
  #testdiv {
  	min-height: 150px;
  	width:250px;
  	background:#EBEBEB url("#{resource['images/curve_blue.jpg']}") repeat-y top;
  }